In [17]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn

In [18]:
_PATH = "4-5_Data/"
_GAMES_FILE = "games.grivg.csv"
_CHARACTERS_FILE = "characters.grivg.csv"
_GENDER = ["Female", "Male"]
_Y_Label = "Is_Female"

# Gender Representation in Video Games

Kaggle: https://www.kaggle.com/datasets/br33sa/gender-representation-in-video-games?resource=download

In [19]:
df_games = pd.read_csv(f"{_PATH}{_GAMES_FILE}")
df_characters = pd.read_csv(f"{_PATH}{_CHARACTERS_FILE}")
for df in [df_games, df_characters]:
    df.drop_duplicates()
len(df_characters)

637

In [20]:
df_characters.columns

Index(['Name', 'Gender', 'Game', 'Age', 'Age_range', 'Playable',
       'Sexualization', 'Id', 'Species', 'Side', 'Relevance',
       'Romantic_Interest'],
      dtype='object')

In [31]:
df = df_characters.drop(["Id", "Age", "Game", "Name", "Species"], axis=1)
df = df[df.Gender.isin(_GENDER)]
df.reset_index(inplace=True, drop=True)
df.columns

Index(['Gender', 'Age_range', 'Playable', 'Sexualization', 'Side', 'Relevance',
       'Romantic_Interest'],
      dtype='object')

In [33]:
df.head(20)

,Gender,Age_range,Playable,Sexualization,Side,Relevance,Romantic_Interest
0,Female,Adult,1,0,P,PA,No
1,Female,Elderly,0,0,P,SC,No
2,Female,Adult,0,0,P,SC,No
3,Female,Teenager,0,0,B,MC,No
4,Female,Adult,0,0,A,SC,No
5,Female,Adult,0,2,P,MC,Yes
6,Female,Teenager,0,0,P,DA,No
7,Female,Young adult,0,2,P,DA,No
8,Female,Child,0,0,P,DA,No
9,Female,Adult,0,1,P,MC,Yes
10,Female,Child,0,0,P,DA,No
11,Female,Young adult,0,0,P,DA,No
12,Female,Middle-aged,0,3,B,SC,Yes
13,Female,Young adult,0,3,B,SC,No
14,Female,Young adult,0,0,P,MC,No
15,Female,Adult,0,0,P,SC,No
16,Female,Young adult,0,0,P,SC,No
17,Female,Young adult,0,0,P,SC,No
18,Female,Adult,0,0,P,SC,No
19,Female,Middle-aged,0,0,P,SC,No

## Conversion en Int Column Relevance

In [22]:
'''
relevance = df["Relevance"]
conditions = [
(relevance == "SC"),
(relevance == "MC"),
(relevance == "PA"),
(relevance == "MA"),
(relevance == "DA"),
(relevance == "SK")
]
values = range(0, 6)
df["Relevance_Int"] = np.select(conditions, values)
df["Relevance_Int"].value_counts()
'''

'\nrelevance = df["Relevance"]\nconditions = [\n(relevance == "SC"),\n(relevance == "MC"),\n(relevance == "PA"),\n(relevance == "MA"),\n(relevance == "DA"),\n(relevance == "SK")\n]\nvalues = range(0, 6)\ndf["Relevance_Int"] = np.select(conditions, values)\ndf["Relevance_Int"].value_counts()\n'

In [23]:
relevance_dummies = pd.get_dummies(df["Relevance"])
df = relevance_dummies.join(df.drop("Relevance", axis=1))

## Conversion en Int Column Side

In [24]:
'''_COLUMN = "Side"
column = df[_COLUMN]
conditions = [
(column == "P"),
(column == "A"),
(column == "B")
]
values = range(0, 3)
df[f"{_COLUMN}_Int"] = np.select(conditions, values)
df[f"{_COLUMN}_Int"].value_counts()
'''

'_COLUMN = "Side"\ncolumn = df[_COLUMN]\nconditions = [\n(column == "P"),\n(column == "A"),\n(column == "B")\n]\nvalues = range(0, 3)\ndf[f"{_COLUMN}_Int"] = np.select(conditions, values)\ndf[f"{_COLUMN}_Int"].value_counts()\n'

In [25]:
relevance_dummies = pd.get_dummies(df["Side"])
df = relevance_dummies.join(df.drop("Side", axis=1))

## Conversion en Int Column Romantic Interest

In [26]:
_COLUMN = "Romantic_Interest"
column = df[_COLUMN]
conditions = [
(column == "No"),
(column == "Opt"),
(column == "Yes")
]
values = [0, 0.5, 1]
df[f"{_COLUMN}"] = np.select(conditions, values)
df[f"{_COLUMN}"].value_counts()

0.0    549
0.5     30
1.0     17
Name: Romantic_Interest, dtype: int64

## Conversion en Int Column Gender

In [27]:
_COLUMN = "Gender"
column = df[_COLUMN]
conditions = [
(column == "Female"),
(column == "Male")
]
values = [1, 0]
df[_Y_Label] = np.select(conditions, values)
df[_Y_Label].value_counts()
df = df.drop([_COLUMN], axis=1)

## Conversion en Int Column Age Range

In [28]:
_COLUMN = "Age_range"
column = df[_COLUMN]
conditions = [
(column == "Unknown"),
(column == "Infant"),
(column == "Child"),
(column == "Teenager"),
(column == "Young-Adult"),
(column == "Adult"),
(column == "Middle-Aged"),
(column == "Elderly")
]
values = range(0, 8)
df[f"{_COLUMN}"] = np.select(conditions, values)
df[f"{_COLUMN}"].value_counts()

5    259
0    228
3     42
2     35
7     29
1      3
Name: Age_range, dtype: int64

In [29]:
df.columns

Index(['A', 'B', 'P', 'DA', 'MA', 'MC', 'PA', 'SC', 'SK', 'Age_range',
       'Playable', 'Sexualization', 'Romantic_Interest', 'Is_Female'],
      dtype='object')

## Data Preparation & Exploration

In [30]:
df.to_csv(f"{_PATH}/characters_cleaned.csv")