In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('data/titanic2.csv')

In [7]:
2224 - len(df)

915

In [8]:
from statistics import mean

filt = ["Name", "Ticket Number", "Cabin"]
df_filt = df.drop(filt, axis=1)

for column in df_filt.columns:
    if df_filt[column].dtypes == "object":
        print(f"*** {column} Count ***")
        print(df_filt[column].value_counts())
    else:
        print(f"*** {column} Mean : {mean(df_filt[column])} ***")
    print()

*** Passenger Class Count ***
Third     709
First     323
Second    277
Name: Passenger Class, dtype: int64

*** Sex Count ***
Male      843
Female    466
Name: Sex, dtype: int64

*** Age Mean : nan ***

*** No of Siblings or Spouses on Board Mean : 0.4988540870893812 ***

*** No of Parents or Children on Board Mean : 0.3850267379679144 ***

*** Passenger Fare Mean : nan ***

*** Port of Embarkation Count ***
Southampton    914
Cherbourg      270
Queenstown     123
Name: Port of Embarkation, dtype: int64

*** Life Boat Count ***
13         39
C          38
15         37
14         33
4          31
10         29
5          27
3          26
9          25
11         25
8          23
16         23
7          23
6          20
D          20
12         19
2          13
A          11
B           9
1           5
5 7         2
C D         2
13 15       2
15 16       1
8 10        1
5 9         1
13 15 B     1
Name: Life Boat, dtype: int64

*** Survived Count ***
No     809
Yes    500
Name: Survived, dtype: int64

In [9]:
print(len(df["Life Boat"]) - df["Life Boat"].isna().sum())
mean(df["Passenger Fare"].dropna())

486

33.295479281345564

In [10]:
len(df[df.Survived == "Yes"])

500

In [11]:
df.dtypes

Name                                   object
Passenger Class                        object
Sex                                    object
Age                                   float64
No of Siblings or Spouses on Board      int64
No of Parents or Children on Board      int64
Ticket Number                          object
Passenger Fare                        float64
Cabin                                  object
Port of Embarkation                    object
Life Boat                              object
Survived                               object
dtype: object

In [29]:
df["Age_Label"] = pd.cut(df["Age"], 5, precision=1)
df[["Age_Label", "Survived"]].value_counts()

Age_Label     Survived
(16.1, 32.1]  No          517
              Yes         270
(32.1, 48.1]  No          162
              Yes         107
(0.09, 16.1]  Yes          74
              No           60
(48.1, 64.0]  No           59
              Yes          47
(64.0, 80.0]  No           11
              Yes           2
dtype: int64

In [28]:
df["Age"].fillna(mean(df["Age"].dropna()), inplace=True)
df["Passenger Fare"].fillna(mean(df["Passenger Fare"].dropna()), inplace=True)

print(df["Passenger Fare"].isna().sum())
print(df["Age"].isna().sum())

pivot_df = df.pivot(columns=["Sex","Survived"], values=["Passenger Fare", "Age"])
print(pivot_df.head())

0
0
         Passenger Fare                            Age
Sex              Female    Male  Female    Male Female    Male Female  Male
Survived            Yes     Yes      No      No    Yes     Yes     No    No
0              211.3375     NaN     NaN     NaN   29.0     NaN    NaN   NaN
1                   NaN  151.55     NaN     NaN    NaN  0.9167    NaN   NaN
2                   NaN     NaN  151.55     NaN    NaN     NaN    2.0   NaN
3                   NaN     NaN     NaN  151.55    NaN     NaN    NaN  30.0
4                   NaN     NaN  151.55     NaN    NaN     NaN   25.0   NaN

In [36]:
sex_survived_group = df.groupby(["Sex","Survived"], as_index=False)
sex_survived_agg = sex_survived_group.agg({"Age": "median", "Passenger Fare": "mean"})
sex_survived_agg

      Sex Survived        Age  Passenger Fare
0  Female       No  29.000000       22.324084
1  Female      Yes  29.881135       55.142048
2    Male       No  29.881135       23.560164
3    Male      Yes  29.881135       37.189053

In [37]:
sex_survived_agg.pivot(index='Survived', columns='Sex', values=['Age', 'Passenger Fare'])

                Age            Passenger Fare
Sex          Female       Male         Female       Male
Survived
No        29.000000  29.881135      22.324084  23.560164
Yes       29.881135  29.881135      55.142048  37.189053